
<link rel="stylesheet" href="/stylesheets/accounts.css"/>
<div id="layout">
  <div id="nav" class="navlog">
    <div id="nav-logo">
      <img id="logo" src="/images/mail_logo_sticky.png" alt="WattMail logo"/>
    </div>
    <div id="nav-bottom">
      <a href="http://validator.w3.org/check/referer"><img class="stamp" id="stamp_html" src="/images/stamp_html.png" alt="Verification"/></a>
      <a href="https://jigsaw.w3.org/css-validator/check/referer"><img class="stamp" id="stamp_css" src="/images/stamp_css.png" alt="Verification"/></a>
    </div>
  </div>
</div>
<div id="login-panel">
    {{#if success_msg}}
    <div id="alert1" class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
    <div id="alert2" class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
    <div id="alert3" class="alert alert-danger">{{error}}</div>
    {{/if}}
    {{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
    {{/if}}
    <form id="login-form" method="post" action="{{redirect}}">
        <h3 class="nomargin">Sign In</h3>
        <p class="login-message">Login to access your account.</p>
        <p class="login-message">Not a member? <a href="/users/register"><strong>Register Here</strong></a></p>
        <input id="username" name="username" class="username" type="text"  placeholder="Username" required="required"/>
        <input id="password" name="password" class="password margin-top15" type="password"  placeholder="Password" required="required"/>
        <a href=""><small>Forgot Your Password?</small></a>
        <button>Sign In</button>
    </form>
    <img id="decoration" src="/images/decoration_login.png" alt=""/>
</div>
